django
django-cors-headers
django-extensions
django-filter
django-heroku
djangorestframework
djangorestframework-simplejwt
django_reverse_admin
djoser
factory_boy
drf-nested-routers
drf-yasg
gunicorn
markdown
python-stdnum
