boto3
django
django-cors-headers
django-extensions
django-filter
django-heroku
djangorestframework
djangorestframework-simplejwt
django_reverse_admin
django-environ
djoser
dj-database-url
drf-nested-routers
drf-yasg
factory_boy
gunicorn
markdown
python-stdnum
psycopg2-binary
rest_condition
qrcode
whitenoise
