{% extends "admin/base_site.html" %}

{% load customtag %}

{% block content %}
<div id="content-main">
  <img src={{student.image}} alt="Foto alumno" style="height:700px;">
  <div style="display: flex; justify-content: center">
    <button style="font-weight: 400; padding: 10px 15px; border-radius: 4px; cursor: pointer; color: #fff; background-color: #c4082e; border: none; margin-right: 20px">
      {% reject_url student as url_reject %}
      <a style="color: #fff;" href={{ url_reject }}>Rechazar</a>
    </button>
    <button style="font-weight: 400; padding: 10px 15px; border-radius: 4px; cursor: pointer; color: #fff; background-color: #417690; border: none; margin-right: 20px">
      {% approve_url student as url_approve %}
      <a style="color: #fff;" href={{ url_approve }}>Aprobar</a>
    </button>
  </div>
</div>
{% endblock %}

